---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Submission_form from '../components/Submission_form.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Boeven vs. Jagers - Durf Jij het Aan?"
description="Zondag 6 juli is het weer zover: ons eindeseizoensfeest! En dit jaar doen we iets gaafs: we gaan buiten het spel Hunting Game spelen!">
	<main class="px-4">
		<Section>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-5 pb-6 lg:pb-10">
			Je bent aangemeld!</h1>
			<p class="text-xl opacity-80 text-pretty max-w-{700px}">
                We hebben je aanmelding ontvangen en jij bent erbij!<br/>
                We zien je graag verschijnen
            </p>
            
            <h3 class="mt-10 text-xl lg:text-2xl opacity-80 text-pretty max-w-{700px}">Alle info nog even op een rijtje</h3>
            <p class="mt-2 text-xl opacity-80 text-pretty max-w-{700px}">
				<span class="text-blue-300 typewriter">Wanneer?</span> Zondag 6 juli 2025
			</p>
			<p class="text-xl opacity-80 text-pretty max-w-{700px}">
				<span class="text-blue-300 typewriter">Waar?</span> Judovereniging De Uitkomst, Sportlaan 21, Anna Paulowna
			</p>
			<p class="text-xl opacity-80 text-pretty max-w-{700px}">
				<span class="text-blue-300 typewriter">Hoe laat?</span> 13:00 tot 16:00 uur + afsluitende BBQ!
			</p>
		
			
		</Section>
		
		<Footer/>
	</main>
</Layout>
