---

---

<footer class="p-4 md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="#" class="flex justify-center items-center text-lg font-semibold text-white ">
          Ontwikkeld door Hallo met Bart
      </a>
      <ul class=" my-6 flex flex-wrap justify-center items-center mb-6 text-white">
          <li>
              <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-l" href="/#top">Home</a>
        
          </li>
          <li>
              <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-l" href="/#uitleg">Uitleg</a>
        
          </li>
          <li>
              <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-l" href="/#bbq">BBQ</a>
        
          </li>
          <li>
              <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-l" href="/#aanmelden">Aanmelden</a>
          </li>
      </ul>
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="#" class="hover:underline">Hallo met Bart</a>.</span>
  </div>
</footer>
