---
const { name_input, age_input } = Astro.props;
---

<div class="w-3/4 px-3 mb-6 md:mb-0">
    <input name={name_input} class="appearance-none block w-full bg-gray-300 text-gray-900 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Voor en achternaam">
</div>
<div class="w-1/4 px-3">
    <input name={age_input} class="appearance-none block w-full bg-gray-300 text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="number" placeholder="8">
</div>